/* 共通用のCSS */
.main-content{
    max-width: 800px;
    margin: auto;
    min-height: 100vh;


}
.day__img{
    width: 300px;
}
.post{
    background-color: #fafafa;
    display: flex;
    margin: 1em;
}
.post__content{
    padding: 1em;
}

.post__title{
    font-size: 20px;
    text-align: center;
    color: #070707;
}
.post__text{
    line-height: 1.5em;

}
.post__img{
    width: 360px;
    height: 100%;
    object-fit: cover;
}

.button{
    background-color: lightcoral;
    border-radius: 5px;
    box-shadow: 1px 1px 10px lightgray;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    width: 100px;
}

.blog__button{
    margin:0 auto;
}